AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=ca253e61641d0f2c55d7ad58c21d631c
AWS_SECRET_ACCESS_KEY=f2abbc043f63d30b125ce130f448cca502dc6007b139d4922ecfb2566d581b96
SUPABASE_ENDPOINT_URL=https://knvebhwuynjbubbeefmo.supabase.co/storage/v1/s3
SUPABASE_OUTPUT_URL=https://knvebhwuynjbubbeefmo.supabase.co/storage/v1/object/public/final-project
SUPABASE_BUCKET_NAME=final-project

DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"
JWT_SECRET="your-jwt-secret-key"
JWT_EXPIRATION="1h"  # Expiry time of the JWT token


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:rootpassword@localhost:3306/713_final_project?schema=public"
# DATABASE_URL="postgresql://root:rootpassword@localhost:3306/713-final-project?schema=public"

# Connect to Supabase via connection pooling with Supavisor.
# DATABASE_URL="postgresql://postgres.knvebhwuynjbubbeefmo:{your-password}@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&schema=public"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://postgres.knvebhwuynjbubbeefmo:{your-password}@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres?schema=public"