AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SUPABASE_ENDPOINT_URL=
SUPABASE_OUTPUT_URL=
SUPABASE_BUCKET_NAME=
UPLOAD_DIR=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:rootpassword@localhost:3306/713_final_project?schema=public"
# DATABASE_URL="postgresql://root:rootpassword@localhost:3306/713-final-project?schema=public"

# Connect to Supabase via connection pooling with Supavisor.
# DATABASE_URL="postgresql://postgres.knvebhwuynjbubbeefmo:{your-password}@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&schema=public"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://postgres.knvebhwuynjbubbeefmo:{your-password}@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres?schema=public"